*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: url("./17973908.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}